

body {
    background-color: seashell;
    opacity: 1;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    color: midnightblue;
    overflow-x: hidden;
}

/* 
Defining color palette for use on website

Blue: #0f2045
Cream: #e2dabs
blue-green #5b7d84

*/

/* About me */
header img {
    max-width: 100%;
    min-width: 40%;
    height: auto;
    opacity: .75;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* « The magic. */
}

.nav li {
    display: inline; /* « More magic. */
}

.nav a {
    display: inline-block; /* « Last bit of magic. */
    padding: 10px;

.about-me h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    text-align: left;
    padding: 0 10px;
    width: auto;
    float: left;

}

.about-me p {
    font-size: 15px;
    margin: 20px;
    text-align: left;
    padding: 0 10px;
    width: 50%;
    position: relative;
    float: left;
}

.about-me a {
    color: #5b7d84;
    text-decoration: none;
    font-size: 15px;
    margin: 2px;
    flex: 1;
    padding: 0 2px;
}

/* General Layout */

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

a:hover {
    color: #e2dabc;
}

 
