/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e7ff; /* Light complementary background color */
    color: #333;
    text-align: center; /* Center text */
}

/* Navigation Bar */
nav {
    background-color: #003366; /* Primary Deep Blue */
    padding: 1em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center navigation items */
}
nav ul li {
    margin: 0 1em; /* Add some spacing between items */
}
nav ul li a {
    color: #FFFFFF; /* White text */
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: #001F3F; /* Dark Navy on hover */
}

/* Section Styles */
section {
    padding: 2em;
    margin: 2em auto;
    width: 80%;
    background-color: #FFFFFF; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the left within sections */
    border-radius: 8px; /* Add rounded corners */
}

/* Carousel Styles */
.carousel img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em;
    max-width: 600px; /* Adjust the value as needed */
}

/* Specific Section Styles */
#about iframe {
    border: none;
    margin-top: 1em;
    width: 100%;
    height: 600px; /* Increase height for better viewing */
}

/* Heading Styles */
h1 {
    color: #003366; /* Primary Deep Blue */
}

/* Data Visualisations Styles */
/* General Container Styles */
#graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Data_Visualisations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Data_Visualisations div {
    max-width: 100%;
    width: 100%;
    height: auto;
}

